/*global.css*/

.pacifo {
    /*global*/
    font-family: 'Pacifico', cursive;
}

.ftco-navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 1.0) !important;
}

@media (max-width: 991.98px){
    .ftco-navbar-light .navbar-brand {
        color: black;
    }
}

.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light.scrolled.awake {
    z-index: 6000;;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        color: black;
    }
    .ftco-navbar-light .navbar-nav > .nav-item.active > a {
        color: pink;
    }
}
.hero-wrap.hero-bread, #section-counter {
    /*global*/
    background-color: #ecebf1;
}

.ftco-navbar-light {
    background-color: white !important;
    top: 0px;
}

.ftco-navbar-light a.nav-link:hover {
    color: pink !important;
    text-decoration: underline;
    transform: scale(1.1);
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    text-transform: none;
}

i {
    font-size: 96px !important;
    color: black !important;
}

.pink-button>a {
    margin: 0 auto;
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}
.pink-button > a:hover {
    background-color: black;
}

.pink-button > a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
h2.mb-4 {
    font-family: 'Red Hat Display';
    text-transform: none;
    letter-spacing: 0mm;
}
.float {
    position: fixed;
    /* width: 60px; */
    /* height: 60px; */
    bottom: 40px;
    right: 40px;
    background-color: pink;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 2px 3px 4px #000;
    z-index: 5000;
}

.float>a {
    color: white;
}
.float>a:hover {
    transform: scale(1.2);
    text-decoration: underline;
}
h3.call-whatsapp {
    text-transform: none;
}

#footer-menu a:hover {
    text-decoration: underline;
}